providers = ["python"]

[phases.setup]
nixPkgs = ["python311", "python311Packages.pip"]

[phases.install]
cmds = ["pip install -r backend/requirements.txt"]

[start]
cmd = "gunicorn --bind 0.0.0.0:${PORT:-5002} --workers 2 --chdir backend server:app"
